<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <div class="container text-xs-center">
    <a class="navbar-brand pull-sm-left" href="#">Fort Collins Adult League</a>
    <ul class="nav navbar-nav pull-sm-right">
      <li class="nav-item">
        <a class="nav-link" href="#info">Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#schedule">Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#signup">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
